<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <style>
            h1{ 
                  text-align: center;
            }
            body {
                  background-color: blanchedalmond;
            }
      </style>
</head>
<body>
<h1>Top Pokemon</h1>
<a class="link" href="/pokemon/new">Add a Pokemon!</a>

<br/>

 <% for (let i = 0; i < pokemon.length; i++){ %>
      <a href="/pokemon/<%= i %>">
      <img src="<%= pokemon[i].img %>" alt="">
      </a>
<form action="/pokemon/<%=i; %>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE" />
      <a href="/pokemon/<%=i; %>/edit">Edit</a>
    </form>
    
    <% } %>

</body>
</html>