<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <style>
      </style>
</head>
<body>
      <h1>Add a Pokemon!</h1>
<form action="/pokemon" method="POST">
Name: <input type="text" name="name" placeholder="Pokemon Name">
Attack: <input type="text" name="attack" placeholder="Pokemon Attack">
Defense: <input type="text" name="defense" placeholder="Pokemon Defense">
Speed: <input type="text" name="speed" placeholder="Pokemon Speed">
Image: <input type="text" name="img" accept="image/*">
<input type="submit" value="Create Pokemon">



</form>

</body>
</html>